//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#define SHFT LSHFT
#define CTRL LCTRL
#define OPT LALT
#define CMD LGUI

/*
 * Number row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │  ^  │  1  │  2  │  3  │  4  │  5  │  6  │  7  │  8  │  9  │  0  │  ß  │  ´  │
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_1     N1
#define QZ_2     N2
#define QZ_3     N3
#define QZ_4     N4
#define QZ_5     N5
#define QZ_6     N6
#define QZ_7     N7
#define QZ_8     N8
#define QZ_9     N9
#define QZ_0     N0
#define QZ_SZ    MINUS // ß
#define QZ_GRAVE EQUAL // `

/*
 * Shifted number row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │  >  │  !  │  "  │  §  │  $  │  %  │  &  │  /  │  (  │  )  │  =  │  ?  │
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_EXCLAMATION       LS(N1)    // !
#define QZ_DOUBLE_QUOTES     LS(N2)    // "
#define QZ_PARA              LS(N3)    // §
#define QZ_USD               LS(N4)    // $
#define QZ_PERCENT           LS(N5)    // %
#define QZ_AMPERSAND         LS(N6)    // "&"
#define QZ_SLASH             LS(N7)    // "/"
#define QZ_LEFT_PARENTHESIS  LS(N8)    // "("
#define QZ_RIGHT_PARENTHESIS LS(N9)    // ")"
#define QZ_EQUAL             LS(N0)    // "="
#define QZ_QMARK             LS(MINUS) // "?"

/*
 * Alt number row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │  [  │  ]  │  |  │  {  │  }  │     │     │
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_LEFT_BRACKET  LC(LA(N8)) // [
#define QZ_RIGHT_BRACKET LC(LA(N9)) // ]
#define QZ_PIPE          LC(LA(NUBS)) // |
#define QZ_LEFT_BRACE    LC(LA(N7)) // {
#define QZ_RIGHT_BRACE   RA(N0) // }

/*
 * Alt shifted number row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │     │  ^  │  \  │     │     │     │     │
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_BACKSLASH         LC(LA(MINUS)) /* \ */
#define QZ_CARET             GRAVE // ^

/*
 * Q row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │  Q  │  W  │  E  │  R  │  T  │  Z  │  U  │  I  │  O  │  P  │  Ü  │  +  │  #  |
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_Q    Q
#define QZ_W    W
#define QZ_E    E
#define QZ_R    R
#define QZ_T    T
#define QZ_Z    Y
#define QZ_U    U
#define QZ_I    I
#define QZ_O    O
#define QZ_P    P
#define QZ_UE   LEFT_BRACKET  // Ü
#define QZ_PLUS RIGHT_BRACKET // +  (Shifted: *)

/*
 * Shifted Q row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │     │     │     │     │     │     │  *  │  '  |
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_ASTERISK     LS(RIGHT_BRACKET) // *
#define QZ_SINGLE_QUOTE LS(BACKSLASH) // '

/*
 * Alt shifted Q row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │  €  │     │     │     │     │     │     │     │     │     │     |
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_EURO LC(LA(E)) // €

/*
 * A row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │  A  │  S  │  D  │  F  │  G  │  H  │  J  │  K  │  L  │  Ö  │  Ä  │  #  │
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_A    A
#define QZ_S    S
#define QZ_D    D
#define QZ_F    F
#define QZ_G    G
#define QZ_H    H
#define QZ_J    J
#define QZ_K    K
#define QZ_L    L
#define QZ_OE   SEMICOLON    // Ö
#define QZ_AE   SINGLE_QUOTE // Ä
#define QZ_HASH BACKSLASH    // #

/*
 * Alt A row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │     │     │     │     │     │     │     │     │  @  │     │     │     │     |
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_AT LC(LA(Q)) // @

/*
 * Bottom row
 * ┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
 * │  <  │  Y  │  X  │  C  │  V  │  B  │  N  │  M  │  ,  │  .  │  -  │
 * └─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘
 */
#define QZ_GT        NUBS      // <
#define QZ_LW        LS(NUBS)     // >
#define QZ_Y         Z      
#define QZ_X         X
#define QZ_C         C
#define QZ_V         V
#define QZ_B         B
#define QZ_N         N
#define QZ_M         M
#define QZ_COMMA     COMMA     // ,
#define QZ_DOT       PERIOD    // .
#define QZ_MINUS     SLASH     // -
#define QZ_COLON     LS(DOT)   // :
#define QZ_SEMICOLON LS(COMMA) // ;

#define QZ_UNDER LS(QZ_MINUS)
#define QZ_TILDE LC(LA(RIGHT_BRACKET))

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>


#define DEF         0
#define SYM         1
#define SYMM        2
#define NAV         3


&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_del {
            timeout-ms = <50>;
            key-positions = <23 24>;
            layers = <0>;
            bindings = <&kp DEL>;
        };
        combo_de_eszett {
            timeout-ms = <50>;
            key-positions = <27 28>;
            layers = <0>;
            bindings = <&kp QZ_SZ>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        DEF {            // neo
            label = "DEF";
            bindings = <
                    &kp X           &kp V          &kp L          &kp C           &kp W      /**/    &kp H       &kp K        &kp G         &kp F       &kp Q
                    &hm LGUI U      &hm LALT I     &hm LCTRL A    &hm LSHIFT E    &kp O      /**/    &kp S       &hm RSHFT N  &hm RCTRL R   &hm RALT T  &hm RGUI D
    &kp ESCAPE      &kp  QZ_UE      &kp QZ_OE      &kp QZ_AE      &kp P           &kp QZ_Z   /**/    &kp B       &kp M        &kp QZ_COMMA  &kp QZ_DOT  &kp J        &kp QZ_Y 
                                                   &kp TAB        &kp ENTER       &kp SPACE  /**/    &kp BSPC    &to SYM      &to NAV
            >;
        };


    //     DEF {           // qwertz
    //         label = "DEF";
    //         bindings = <
    //                 &kp Q           &kp W          &kp E          &kp R           &kp T      /**/    &kp QZ_Z    &kp U        &kp I         &kp O       &kp P
    //                 &hm LGUI A      &hm LALT S     &hm LCTRL D    &hm LSHIFT F    &kp G      /**/    &kp H       &hm RSHFT J  &hm RCTRL K   &hm RALT L  &hm RGUI QZ_DOT
    // &kp ESCAPE      &kp QZ_Y        &kp X          &kp C          &kp V           &kp B      /**/    &kp N       &kp M        &kp QZ_AE     &kp QZ_OE   &kp QZ_UE        &kp COMMA
    //                                                &kp TAB        &kp ENTER       &kp SPACE  /**/    &kp BSPC    &to SYM      &to NAV
    //         >;
    //     };

    
        SYM {
            label = "SYM";
            bindings = <
                    &kp QZ_TILDE        &kp QZ_DOUBLE_QUOTES    &kp QZ_LEFT_BRACE           &kp QZ_RIGHT_BRACE              &kp QZ_EXCLAMATION      /**/    &kp QZ_PLUS  &kp N7         &kp N8        &kp N9        &kp QZ_ASTERISK
                    &hm LGUI QZ_PERCENT &hm LALT QZ_SLASH       &kp QZ_LEFT_BRACKET         &hm LCTRL QZ_RIGHT_BRACKET      &hm LSHIFT QZ_QMARK     /**/    &kp QZ_MINUS &hm RSHFT N4   &hm RCTRL N5  &hm RALT N6   &hm RGUI QZ_COLON
    &kp QZ_GRAVE    &kp QZ_USD          &kp QZ_HASH             &kp QZ_LEFT_PARENTHESIS     &kp QZ_RIGHT_PARENTHESIS        &kp QZ_AMPERSAND        /**/    &kp N0       &kp N1         &kp N2        &kp N3        &kp QZ_EQUAL      &kp QZ_SEMICOLON
                                                                                                         &trans         &mo SYMM      &to DEF       /**/    &kp BSPC     &mo SYMM    &to NAV

            >;
        };

        SYMM {
            label = "SYMM";
            bindings = <
                    &trans        &trans             &trans         &trans      &trans       /**/     &trans        &kp F9  &kp F10  &kp F11 &kp F12 
                    &kp QZ_CARET  &kp QZ_BACKSLASH   &kp QZ_GT      &kp QZ_LW   &kp QZ_PIPE  /**/     &kp QZ_UNDER  &kp F5  &kp F6   &kp F7  &kp F8
&kp QZ_SINGLE_QUOTE &kp QZ_EURO   &kp QZ_AT          &trans         &trans      &trans       /**/     &trans        &kp F1  &kp F2   &kp F3  &kp F4  &trans
                                                     &trans         &trans      &trans       /**/     &trans        &trans  &trans

            >;
        };

        Nav {
            label = "Nav";
            bindings = <
                    &trans      &trans     &kp HOME     &kp PAGE_UP      &kp F23    /**/     &kp C_VOL_UP  &trans    &trans    &trans     &trans 
                    &trans      &trans     &kp END      &kp PAGE_DOWN    &kp F22    /**/     &kp C_VOL_DN  &kp LEFT  &kp UP    &kp RIGHT  &trans
        &trans      &trans      &trans     &kp F19      &kp F20          &kp F21    /**/     &kp F24       &kp F     &kp DOWN  &trans     &trans  &trans
                                           &trans       &kp LC(QZ_DOT)   &to DEF    /**/     &kp SPACE     &to SYM   &kp RCTRL
            >;
        };



    };
};
